.uni_calendar{
  width: 100%;
}

.uni_calendar th, .uni_calendar td{
  padding: 8px;
  background-color: #FFF;
  text-align: center;
  border: 1px solid #CCC;
}

/* 行の最初のtdは日曜日なため赤く */
.uni_calendar th:first-of-type, .uni_calendar td:first-of-type{
  background-color: #ffefef;
  color: #FF0000;
  font-weight: bold;
}
.uni_calendar .holiday{
  background-color: #ffefef;
  color: #FF0000;
  font-weight: bold;
}
/* 行の最後のtdは土曜日なため青く */
.uni_calendar th:last-of-type, .uni_calendar td:last-of-type{
  background-color: #ededff;
  color: #0000FF;
  font-weight: bold;
}

/* 今日の日付 */
.uni_calendar td.today{
  background-color: #fbffa3;
  font-weight: bold;
}

.c-calendar_wrap{
  max-width: 600px;
}
#calendar{
  max-width: 100%;
}
.fc-widget-header{
  font-size: 13px;
}
.fc-widget-content{
  background: #fff;
}

.holiday-name{
  font-size: 10px;
}
.fc-button{
  padding: 0.4em 0.55em 0.5em 0.55em;
  border: none;
}
.fc-button .fc-icon{
  font-size: 1.2em;
}
.fc-button-group>.fc-button{
  background: #444;
}
.fc-button-primary{
  background: #d6000f;
}
.fc-button-group>.fc-button:not(:first-child){
  border-left: 1px solid #666;
}
.fc-toolbar h2{
  font-size: 1.2em;
}
.fc-toolbar.fc-header-toolbar{
  margin-bottom: 0.9em;
}
td.fc-sat {
  background-color: #eaf4ff;
}
td.fc-sun {
  background-color: #ffeaea;
}
td.fc-sun, td.fc-hol {
  background-color: #ffeaea;
}

.fc-right{
  opacity: 0;
}

.fc-event-container{
  text-align: center;
  cursor: pointer;
}
.fc-row:first-child table{
  margin-bottom: 0;
}

.fc-widget-header{
  background: #383838;
  color: #fff;
}
.fc-event{
  border: none;
}
.fc-toolbar h2{
  font-size: 20px;
}
.fc-event.special{
  background: #d6000f;
}

.fc-event.experience{
  background: #696fb4;
}

.fc-event.information{
  background: #b4d70f;
}
